{% extends 'base.html.twig' %}

{% block title %}Liste des livres{% endblock %}

{% block body %}
    <h1>Liste des 20 derniers livres classé par prix</h1>
    
    <nav>
    <a href="{{ path('app_book_create') }}"> Ajouter un livre</a>
    </nav>
    <hr />
    {% for book in books %}
    {% set counter = ( counter | default(0) ) + 1 %}
        <div>
            <p> {{ counter ~ ' ). ' ~ book.title }}</p>
            <p> Prix: {{ book.price }} </p>
            <p> Auteur: {{ book.author.name }}</p>
            <p> Dérniére modification {{ book.updatedAt|date('d/m/Y à H:i', 'Europe/Paris') }} </p>
            <p> Catégories: </p>
            <nav> 
                {% for category in book.categories %}
                    <a href=""> {{category.name}}</a>
                {% endfor %}
            </nav>
        </div>
        <hr />
    {% endfor %}
{% endblock %}